{% extends "base.html" %}
{% block content %}
<main class="h-screen">
    <section id="hero" class="h-3/4">
        <div class="hero-heading h-full w-full flex flex-col items-center justify-center">
            <h1 class="text-5xl block text-center" style="font-family: 'Playfair Display', serif;">Event Coming Soon!</h1>
            <a href="#" class="hidden rounded-full no-underline text-base text-center brand-gradient transition ease-in-out delay-100 duration-300 hover:scale-110 md:block md:mt-12 md:p-3" style="width: 240px;">Schedule a Workshop</a>
        </div>
    </section>
</main>
{% endblock %}